/* Created by: Yoochan
* Created on: Apr 2024
* This file contains the CSS for index.html
*/
body {
  background-color: #d9d9d9;
}

.myimg {
  background-color: #d9d9d9;
  color: #ffffff;
  max-width: 225px;
  margin: 0 left;
  align-content: right;
}

#parag {
  color: darkgreen;
  background-color: #d9d9d9;
  max-width: 400px;
  border-bottom:5px #12c56b;
  border-right: 5px#12c56b;
}

p {
  font-style: oblique;
  font-size: medium;
}

h6 {
  color :#12c56b;

}
